body {
  background-color: #363636;
}

.error-template {padding: 40px 15px;text-align: center; color: #fff; margin-top: 50px;}
.error-actions {margin-top:15px;margin-bottom:15px; color: #fff}
.error-actions .btn { margin-right:10px; color: #fff}